# ???????? LF?????????? GitHub Pages ?????????
* text=auto eol=lf

# Windows ???? CRLF
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# ???
*.mp4 binary
*.png binary
*.jpg binary
*.pdf binary

# ????? GitHub ???????
*.html linguist-generated=true
assets/js/search-index.js linguist-generated=true